/* .header {
    display: flex;
    flex-grow: 1 4 1 1;
    width: 100%;
} */

.container-fluid{
    height: 175px;
}

.nav-item{
    padding-top: 120px;
    padding-left: 100px;
    font-size: 20px;
}

.header-image{
    width: 175px;
    height: auto;
    padding: 3px 10px 0px 10px;
}

.navbar-brand{
    font-size: 50pt;
    font-weight: bold;
}

.routerLink {
    text-decoration: none;
}