

.cocktailList {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 25px;
}

.cocktailList div {
  height: 215px;
  width: 200px;
  border: 1px solid black;;
  background-repeat: no-repeat;
  background-size: cover;
}

.cocktailList div p {
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  font-size: larger;
  margin-top: 170px;
}

.charBtn {
  height: 40px;
  width: 40px;
}

.App {
  text-align: center;
  background-image: url('./pirates.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-image: 100% auto; */
}

.cocktailDetail {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.cocktailDescription {
  height: 225px;
  width: 680px;
  margin: 5px 20px 40px 20px;
  border: 1px solid rgb(94, 89, 77);
  background-color: rgba(255, 235, 205, 0.5);
  text-align: left;
  padding: 10px;
}

.cocktailRecipe {
  height: 400px;
  width: 680px;
  margin: 5px 20px 40px 20px;
  border: 1px solid rgb(94, 89, 77);
  background-color: rgba(255, 235, 205, 0.5);
  text-align: left;
  padding: 10px;
}

.card-text{
  word-wrap: normal;
  max-width: 700px;
}

li{
  list-style-type: none;
}

.input-group{
  padding-left: 10px;

} 

/* button{
  padding-left: 100px;
} */

.form-select{
  max-width: 300px;
}